@model IEnumerable<NovenaPrueba.Models.Abono>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaAbono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDeuda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porcentaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pendiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantAbono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdReservaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAbono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDeuda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porcentaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pendiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantAbono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdReservaNavigation.IdReserva)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAbono">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAbono">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAbono">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
